<div class="col-md-12">
  <h1>Login with</h1> 
  <h3>
  <%= link_to user_facebook_omniauth_authorize_path do %>
    <i class="fa fa-facebook-official fa-3x"></i>acebook
  <% end %> or 
  <%= link_to user_google_oauth2_omniauth_authorize_path do %>
    <i class="fa fa-google fa-3x"></i>oogle
  <% end %>
  </h3>
</div>
